.App {
  text-align: center;
  font-size: calc(8px + 2vmin);
  align-items: center;
  margin-top: 5%;
  min-height: 100vh;
}

.Nav-link {
  text-decoration: none;
  color: #A4B8D3;
}
.nav-item{
  margin: 2rem;
}
.Nav-link.active {
  color: #004FB4;
}
.nav {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 15px;
}

/* .App-header {
  
  /* display: flex; */
  /* flex-direction: column; } */

/* .App-link {
  color: #61dafb;} */
