.App {
  text-align: center;
  font-size: calc(8px + 2vmin);
  align-items: center;
  margin-top: 5%;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #A4B8D3;
}
.nav-item{
  margin: 2rem;
}
.nav-link.active {
  color: #004FB4;
}