.App {
  text-align: center;
  /* font-size: calc(5px + 2vmin); */
  font-size: 1.4rem;
  align-items: center;
  margin-top: 5%;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #A4B8D3;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.nav-link.active {
  color: #004FB4;
}

.time{
  font-size: smaller;
  color: #4F6C92;
}
.city{
  font-size: 1.3rem;
  color: #A4B8D3;
}

.btn {
  width: 10%;
  height: min-content;

  border: 1px solid #E2006A;
  color: #E2006A;
}

.btn:hover {
  background-color: #fff;
  color: #E2006A;
}


.button{
  width: 10%;
  height: min-content;

  border: 1px solid #55CB82;
  color: #55CB82;
}

.button:hover {
  background-color: #fff;
  color: #55CB82;
}

.subtitle{
  font-size:medium;
  color: #A4B8D3;
}
